body {
  background: rgb(225,225,240);
  background: linear-gradient(90deg, rgba(225,225,240,1) 20%, rgba(230,241,244,1) 86%);
}
img{
    width: 600px;
    height:600px;
    border-radius: 15px;
}
.card {
    border-radius: 10px;
    margin-left: 5px;
    padding:20px
}